<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOV</title>
    <link href="~/Content/img/gov.png" type="image/png" rel="shortcut icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="row mr-0 ml-0" id="title" style="height:40px; background:#0094ff">
        <a href="@Url.Action("Index")" class="btn btn-link text-white">Trang chủ</a>
        <a href="@Url.Action("Page2")" class="btn btn-link text-white">Trang 2</a>
    </div>
    <div class="row mr-0 ml-0" style="height:100%">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://map.map4d.vn/data/jquery.cookie.min.js"></script>
    <script src="http://map.map4d.vn/data/react.production.min.js"></script>
    <script src="http://map.map4d.vn/data/react-dom.production.min.js"></script>
    <script src="http://map.map4d.vn/data/redux.min.js"></script>
    <link href="http://map.map4d.vn/styles/main.css" rel="stylesheet">
    <script src="http://map.map4d.vn/build/mapgl.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
